.formContainer {
    padding: 15px;
    background: white;
    border-radius: 6px;
    border: 2px solid var(--color-span);
    margin-top: 100px;
}

.title {
    font-size: 36px;
    /* padding: 20px; */
    color: var(--color-span);
}

/* Button */
.btn {
    align-items: center;
    background-color: var(--color-span);
    border: 0;
    border-radius: 100px;
    box-sizing: border-box;
    color: var(--monochrome-inverse);
    cursor: pointer;
    display: inline-flex;
    font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 20px;
    max-width: 480px;
    min-height: 40px;
    min-width: 0px;
    overflow: hidden;
    padding: 0px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    touch-action: manipulation;
    transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    float: right;
}

.btn:hover,
.btn:focus { 
    background-color: #08676a;
    color: #fff;
}

.btn:active {
    background: #06494b;
    color: #fff;
}