@tailwind base;
@tailwind components;
@tailwind utilities;

/* --- THEME MODES COLORS --- */

/* Light mode colors */
:root {
  --background-color: #fff;
  --foreground-color: #383c43;
  --color-span: #0E8388;
  --text-color: #2C3333;
  --text-color-inverse: #f0f8f6;
  --monochrome: #111;
  --monochrome-inverse: #fff;
}

/* Dark mode colors */
.dark {
  --background-color: #383c43;
  --foreground-color: #f0f8f6;
  --color-span: #0E8388;
  --text-color: #f0f8f6;
  --text-color-inverse: #2C3333;
  --monochrome: #fff;
  --monochrome-inverse: #111;
}

/* Styling body throughout all the pages */
body {
  color: var(--monochrome);
  background: var(--background-color);
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}