.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* min-height: 100vh; */
}

.footer {
    padding: 15px 23px;
    color: var(--monochrome-inverse);
    text-align: center;
    background-color: var(--monochrome);
    height: 2.5rem;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
}

.accent {
    color: var(--color-span);
}

.title {
    color: var(--text-color);
    font-size: 50px;
}
