/* Main component */
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Footer component */
.footer {
    padding: 15px 23px;
    color: var(--monochrome-inverse);
    text-align: center;
    background-color: var(--monochrome);
    height: 2.5rem;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
}

.accent {
    color: var(--color-span);
}

/* Title component */
.title {
    color: var(--text-color-inverse);
    font-size: 50px;
}

/* Container component */
.container {
    margin-top: 100px;
    padding: 50px;
    text-align: center;
    background: var(--foreground-color);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 6px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

/* Button component */
.btn {
  align-items: center;
  background-color: var(--color-span);
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: var(--monochrome-inverse);
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}

.btn:hover,
.btn:focus { 
  background-color: var(--color-span-hover);
  color: var(--monochrome-inverse);
}

.btn:active {
  background: var(--color-span-active);
  color: var(--monochrome-inverse);
}