@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,400;6..12,500&display=swap');

/* Main component */
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Footer component */
.footer {
    padding: 15px 23px;
    color: var(--monochrome-inverse);
    text-align: center;
    background-color: var(--monochrome);
    height: 2.5rem;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
}

.accent {
    color: var(--color-span);
}

/* Title component */
.title {
    color: var(--text-color);
    font-size: 50px;
}

/* Container component */
.container {
    margin-top: 100px;
    padding: 50px;
    text-align: center;
    background: var(--background-color);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 6px;
    border: 2px solid var(--color-span);
}

/* Button component */
.btn {
  align-items: center;
  background-color: var(--color-span);
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}

.btn:hover,
.btn:focus { 
  background-color: #08676a;
  color: #fff;
}

.btn:active {
  background: #06494b;
  color: #fff;
}

/* Else */
.paragraphe {
    color: var(--monochrome);
    font-size: 17px;
}

.modeLightDark {
  color: var(--monochrome-inverse);
  background-color: var(--foreground-color);
  padding: 6px;
  border-radius: 7px;
  position: absolute;
  right: 0;
}

/* Dropdown button */

.dropdown {
  display: none;
  position: absolute;
  top: 70px;
  background-color: var(--monochrome-inverse);
  border: 1px solid var(--foreground-color);
  padding: 8px;
}

.visible {
  display: block;
}

.item {
  padding: 8px;
}

.item:hover {
  color: #fff;
  background-color: var(--color-span);
}

/* Subtitle component */
.subTitle {
  font-size: 24px;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: bold;
}


/* AddButton component */
.btnAddMore {
  color: var(--color-span);
  font-size: 16px;
  font-family: 'Nunito Sans', sans-serif;
}

.plusAdd {
  font-size: 27px;
}

.textAdd {
  margin-left: 20px;
}

/* Textarea component */
.textarea {
  border: 1px solid var(--monochrome);
  background-color: transparent;
  border-radius: 10px;
  padding: 10px;
}